bitcoin_part1/.idea
bitcoin_part1/pkg
bitcoin_part1/bin

bitcoin_part2/.idea
bitcoin_part2/pkg
bitcoin_part2/bin

bitcoin_part3/.idea
bitcoin_part3/pkg
bitcoin_part3/bin

bitcoin_part4/.idea
bitcoin_part4/pkg
bitcoin_part4/bin

bitcoin_part5/.idea
bitcoin_part5/pkg
bitcoin_part5/bin
















